#on {
	border-radius: 50px;
	background-color: green;
	height: 100px;
	width: 100px;
	font-size: 25px;
}

#mainButton {
	position: relative;
	left: 650px;
}

#DoorDash {
	color: blue;
	border: dotted;
	margin: 25px;
	padding: 25px;	
}

#Postmates {
	color: red;
	border: dashed;
	margin: 25px;
	padding: 25px;

}

#UberEats {
	color: green;
	border: solid;
	margin: 25px;
	padding: 25px;
}

#Amazon-Flex {
	color: purple;
	border: inset;
	margin: 25px;
	padding: 25px;
}

