#on {
	border-radius: 50px;
	background-color: green;
	height: 100px;
	width: 100px;
	font-size: 25px;
}

#mainButton {
	position: relative;
	left: 650px;
}

#DoorDash {
	background-color: red;
	border: solid;
	margin: 25px;
	padding: 25px;	
	border-radius: 25px;
}

#Postmates {
	background-color: green;
	border: solid;
	margin: 25px;
	padding: 25px;
	border-radius: 25px;

}

#UberEats {
	background-color: blue;
	border: solid;
	margin: 25px;
	padding: 25px;
	border-radius: 25px;
}

.icon {

	height: 100px;
	width: 100px;
	border: solid;
	border-radius: 50px;
}

#Amazon-Flex {
	background-color: orange;
	border: solid;
	margin: 25px;
	padding: 25px;
	border-radius: 25px;
}

