#DoorDash {
	color: blue;
	border: dotted;
	margin: 25px;
	padding: 25px;	
}

#Postmates {
	color: red;
	border: dashed;
	margin: 25px;
	padding: 25px;

}

#UberEats {
	color: green;
	border: solid;
	margin: 25px;
	padding: 25px;
}

#Amazon-Flex {
	color: purple;
	border: inset;
	margin: 25px;
	padding: 25px;
}

.button {
	justify-content: center;
	align-content: center;
}